<!DOCTYPE html>
<html>
    <head>
    <script data-ad-client="ca-pub-7152135773456141" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apptime | Free Website Monitoring</title>
    <meta property="og:title" content="Apptime">
    <meta name="og:description" content="Apptime, Checks the availability of your website in one minute intervals from 30 different locations on 6 continents.">
    <meta property="og:image" content="https://i.ibb.co/MsbHTs1/Apptime-new-Branding-dot.png">
    <meta property="og:url" content="https://www.socioo.tech">
    <meta name="theme-color" content="#20aee3">
    <link rel="icon" type="image/png" href="https://i.ibb.co/MsbHTs1/Apptime-new-Branding-dot.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <link rel="stylesheet" id="css-bootstrap" href="/css/landing/bootstrap.css" />
    <link rel="stylesheet" id="css-bootstrap" href="/css/landing/app.css" />
    <style>
         img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
         </style>
<!-- Hotjar Tracking Code for www.apptime.tech -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2400656,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script data-ad-client="ca-pub-7152135773456141" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>

    <body>
        <div class="app-layout-canvas">
            <div class="app-layout-container">
                <header class="app-layout-header" style="background-color:#ffffff">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button style="color:black" onclick="location.href='/dashboard'" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                                        Go Dashboard
				</button>
                                <a class="navbar-brand" href="/" style="margin-left:20px">
                                    <img style="margin-top:10px;width:180px;height:37px" draggable="false" class="img-responsive" src="https://i.ibb.co/Mgq22LW/Apptime-new-Branding.png" alt="Apptime" />
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">

                                    <ul id="main-menu" class="nav navbar-nav navbar-right">
    
                                        <li>
                                            <a onclick="location.href='/dashboard'" style="color:black;cursor:pointer">Go Dashboard</a>
                                        </li>
    
                                    </ul>

                            </div>
                        </div>
                    </nav>
                </header>

                <main class="app-layout-content" style="background-color:#ffffff">

                    <figure style="background-color:#ffffff;color:black" class="banner bg-img bg-app bg-inverse" data-height="500">
                        <figcaption class="banner-caption">
                            <div class="container">
                                <center>
                                        <h1 style="color:black" class="display-2 m-y">Free <a style="color:#3bd671">Website Monitoring</a> service.</h1>
                                        <p class="lead m-b-md">Apptime, Checks the availability of your website in one minute <br>intervals from 30 different locations on 6 continents.</p>
                                        <a class="startbtn btn btn-default btn-lg" style="cursor:pointer" onclick="location.href='/monitors/new'">Start monitoring in 10 seconds</a>
                           </center>
                                    </div>
                        </figcaption>
                    </figure>

                    <div class="section p-y-xl bg-white" style="background-color:#f5f8fa">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 style="color:black" class="h1 display-2 m-b">Fast & Simple</h2>
                                    <p style="color:gray" class="lead m-b-lg">Everything is now one click away! You can add or delete monitors with a single click.</p>
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <img draggable="false" style="border-radius:5px;box-shadow: 5px 10px #272727;" class="img-responsive" src="https://cdn.discordapp.com/attachments/772882333471735810/841368195797483530/Untitled-2.png" alt="img" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section p-y-xl bg-white" style="background-color:#f5f8fa">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-push-7 text-center text-md-left">
                                    <h2 style="color:black" class="h1 display-2 m-b">24/7</h2>
                                    <p style="color:gray" class="lead m-b-lg">We guarantee 24/7 uptime for all added monitors.</p>
                                </div>
                                <div class="col-md-4 col-md-pull-3">
                                    <img draggable="false" style="border-radius:5px;box-shadow: 5px 10px #272727;" class="img-responsive" src="https://cdn.discordapp.com/attachments/772882333471735810/841368195797483530/Untitled-2.png" alt="img" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section p-y-xl bg-white" style="background-color:#f5f8fa">
                        <div class="container">
                            <div class="row vcenter-md m-b-md">
                                <div class="col-md-4 col-md-offset-1 text-center text-md-left">
                                    <h2 style="color:black" class="h1 display-2 m-b">Responsive</h2>
                                    <p style="color:gray" class="lead m-b-lg">Website is designed to be responsive on desktop and mobile.</p>
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <img draggable="false" style="border-radius:5px;box-shadow: 5px 10px #272727;" class="img-responsive" src="https://cdn.discordapp.com/attachments/772882333471735810/841368195797483530/Untitled-2.png" alt="img" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="background-color:#ffffff" class="section p-y-xl bg-app bg-inverse">
                        <div class="container text-center">
                            <div class="row">
                                <div style="color:black" class="col-md-6 col-md-offset-3">
                                    <h2 style="color:black" class="h1 display-2">Try it for free</h2>
                                    <p class="lead">Build your own monitor in just 10 seconds. Totally FREE!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="app-layout-footer" style="background-color:#ffffff">
                        <div class="container p-y-md">
                            <div class="pull-right sm xs">
                                <a style="color:#20aee3" href="/legal/privacy" target="_blank" rel="nofollow">Privacy</a>&nbsp;&nbsp;
                                <a style="color:#20aee3" href="/legal/tos" target="_blank" rel="nofollow">ToS</a>&nbsp;&nbsp;
                                <a style="color:#20aee3" href="/legal/gdpr" target="_blank" rel="nofollow">GDPR</a>
                            </div>
                            <div class="pull-left text-center text-md-left text-white" style="color:black">
                                Apptime &copy; 2021
                            </div>
                        </div>
                    </footer>
                </main>


            </div>
        </div>

    </body>

</html>