<%- include('parts/beta_head', {bot, user, path}) %>
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-lg-row flex-column-fluid">
				<div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative">
					<div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
						<div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
							<a href="/" class="py-9 pt-lg-20">
								<img alt="Logo" src="https://i.ibb.co/MsbHTs1/Apptime-new-Branding-dot.png" class="h-70px" />
							</a>
							<h1 class="fw-bolder fs-2qx pb-2 pb-md-2">Welcome to Apptime</h1>
							<p class="fw-bold fs-2">Apptime, Checks the availability of your website in one minute intervals from 30 different locations on 6 continents.</p>
						</div>
						<div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-300px" style="background-image: url(https://preview.keenthemes.com/craft/assets/media/illustrations/statistics-2.png)"></div>
					</div>
				</div>
				<div class="d-flex flex-column flex-lg-row-fluid py-10">
					<div class="d-flex flex-center flex-column flex-column-fluid">
						<div class="w-lg-600px p-10 p-lg-15 mx-auto">
							<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form">
								<div class="mb-10 text-center">
									<h1 class="text-dark mb-3">Connect with</h1>
								</div>
								<button onclick="location.href='/auth/google'" type="button" class="btn btn-light-primary fw-bolder w-100 mb-2">
                <img alt="Logo" src="https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/google-color.png" class="h-20px me-3" />Google</button>
                <button onclick="location.href='/auth/discord'" type="button" class="btn btn-light-primary fw-bolder w-100 mb-10">
                <img alt="Logo" src="https://discord.com/assets/3437c10597c1526c3dbd98c737c2bcae.svg" class="h-20px me-3" />Discord</button>     
							</form>
						</div>
					</div>
					<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
						<div class="d-flex flex-center fw-bold fs-6">
							<a href="/discord" class="text-muted text-hover-primary px-2" target="_blank">Discord Server</a>
							<a href="mailto:team@apptime.tech" class="text-muted text-hover-primary px-2" target="_blank">Send Mail</a>
						</div>
					</div>
				</div>
			</div>
		</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <br>
   </body>
</html>