  <% if (!bot.blacklist.includes(user.id)){ %>
  <meta http-equiv="refresh" content="0;url=/dashboard" />
  <% } %>
 <%- include('parts/beta_head', {bot, user, path}) %>
		<div class="d-flex flex-column flex-root">
			<div class="d-flex flex-column flex-column-fluid pt-10">
				<div class="d-flex flex-column flex-center p-10 p-lg-20">
					<a href="/" class="mb-15">
						<img alt="Logo" src="https://i.ibb.co/Mgq22LW/Apptime-new-Branding.png" class="h-60px" />
					</a>
					<div class="text-center">
						<h1 class="fw-bolder fs-2qx text-dark mb-7">Error: 403</h1>
						<div class="fw-bold fs-2 text-gray-400 mb-8">Your Account has Blocked on Website!</div>
						<a href="/" class="btn btn-lg btn-primary">Go to homepage</a>
					</div>
				</div>
		</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      <br>
   </body>
</html>